@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: #EEF4ED;
}
* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

b {
  color: #134074;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}

.intro-pic {
  border-radius: 50%;
  margin-top: 2rem;
}

.title {
  font-size: 8rem;
  font-weight: bolder;
  font-family: 'Poppins', 'sans-serif';
  color: #134074;
  padding-bottom: 1rem;
}

.description {
  font-family: 'Poppins', 'sans-serif';
  color: #0B2545;
  text-align: justify;
  padding-bottom: 2rem;
}

.intro-icon {
  font-size: 2rem;
  color: #134074;
}

.experience-title {
  margin-top: 2.5rem;
  font-family: 'Poppins', 'sans-serif';
  color: #134074;
  font-weight: bolder;
  font-size: 4rem;
}

.btn-primary {
  margin-top: 2rem;
  background-color: #134074;
  color: #EEF4ED;
  border-radius: 2rem;
  font-family: 'Poppins', 'sans-serif';
  font-size: 2rem;
  font-weight: bold;
  width: 20rem;
  height: fit-content;
  padding: 1.25rem 0;
}

.btn-other-action {
  font-family: 'Poppins', 'sans-serif';
  color: #134074;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.experience-container {
  background-color: #134074;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.experience-toggle-container {
  background-color: #0B2545;
  border-radius: 2rem;
}

.experience-toggle-off {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.5rem;
  font-weight: bold;
  width: 15.5rem;
  height: fit-content;
  padding: 0.5rem 0;
}

.experience-toggle-on {
  background-color: #EEF4ED;
  color: #134074;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2rem;
  width: 15.5rem;
  height: fit-content;
  padding: 0.5rem 0;
}

.experience-title, .experience-subheader {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
}

.experience-title {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.experience-time, .experience-subtitle {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.experience-time {
  text-align: right;
  margin-top: 2.8rem;
  margin-right: 2rem;
}

.experience-subtitle, .experience-subheader {
  margin-top: 1.5rem;
}

.experience-subheader {
  color: #EEF4ED;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.dropdown-toggle {
  color: #EEF4ED;
  font-size: 1.2rem;
  padding-top: 0.25rem;
}

.dropdown-toggle-icon {
  float: right;
  margin-left: 1rem;
  margin-top: 0.2rem;
}


.experience-toggle-list {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  margin-left: 2rem;
}

.experience-tech {
  text-align: right;
  margin-right: 2em;
}

.experience-tech-card {
  background-color: #EEF4ED;
  border-radius: 1rem;
  width: fit-content;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  color: #134074;
  text-align: center;
  float: left;
  margin-right: 2.16rem;
}

.experience-tech-name {
  float: left;
}

.experience-details {
  margin-top: 1.5rem;
}

.experience-detail-name {
  margin-top: 0.7rem;
}