@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: #EEF4ED;
}
* {
  box-sizing: border-box;
}

main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

b {
  color: #134074;
}

@media screen and (max-width: 1023px) {
  .container, .description, .intro-pic {
    max-width: 80vw;
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .experience-toggle-off {
    height: fit-content;
    width: 100% !important;
    padding: 0.5rem 0;
    border-radius: 1rem;
  }
  
  .experience-toggle-on {
    height: fit-content;
    width: 100% !important;
    padding: 0.5rem 0;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .container, .description {
    max-width: 100vw;
    padding-left: 10vw;
  }

  .intro-container {
    text-align: center;
  }

  .icons-container {
    max-width: 92vw;
    margin-left: 13vw;
    padding-left: 10vw;
  }

  .intro-pic {
    margin-left: 15vw;
  }

  .experiences-title, .btn-primary, .btn-other-action {
    margin-left: 10vw;
    
  }

  .title {
    margin: 0 20vw;
    padding-left: 8vw;
    text-align: center;
    max-width: 80vw;
  }

  .experience-container {
    margin-left: 10vw;
  }

  .experience-toggle-container {
    padding: 0 0;
    align-items: center;
  }

  .experience-time {
    text-align: center !important;
    margin-top: 1.2rem !important;
  }

  .experience-title, .experience-subtitle, .experience-subheader {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .experience-tech-card {
    min-width: fit-content !important;
  }

  .education-detail-name {
    text-align: center !important;
    margin-bottom: 1rem !important;
  }

  .education-tech-card {
    margin-right: 0 !important;
    margin-left: 2.2rem !important;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 7rem !important;
  }
}

.container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 3rem;
}

.intro-pic {
  border-radius: 50%;
  margin-top: 2rem;
}

.title {
  font-size: 8rem;
  font-weight: bolder;
  font-family: 'Poppins', 'sans-serif';
  color: #134074;
  padding-bottom: 1rem;
  text-align: center;
}

.description {
  font-family: 'Poppins', 'sans-serif';
  color: #0B2545;
  text-align: justify;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.intro-icon {
  font-size: 2rem;
  color: #134074;
}

.experiences-title, .experience-title {
  margin-top: 2.5rem;
  font-family: 'Poppins', 'sans-serif';
  color: #134074;
  font-weight: bolder;
  font-size: 4rem;
}

.experiences-title {
  text-align: center;
}

.btn-primary {
  margin-top: 2rem;
  background-color: #134074;
  color: #EEF4ED;
  border-radius: 2rem;
  font-family: 'Poppins', 'sans-serif';
  font-size: 2rem;
  font-weight: bold;
  width: 20rem;
  height: fit-content;
  padding: 1.25rem 0;
}

.btn-other-action {
  font-family: 'Poppins', 'sans-serif';
  color: #134074;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.experience-container {
  max-width: 100vw;
  background-color: #134074;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.experience-toggle-container {
  background-color: #0B2545;
  border-radius: 2rem;
}

.experience-toggle-off {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.5rem;
  font-weight: bold;
  width: 15.5rem;
  height: fit-content;
  padding: 0.5rem 0;
}

.experience-toggle-on {
  background-color: #EEF4ED;
  color: #134074;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2rem;
  width: 15.5rem;
  height: fit-content;
  padding: 0.5rem 0;
}

.experience-category {
  margin-top: 2rem;
  background-color: #EEF4ED;
  color: #134074;
  margin-left: 0.5rem;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.experience-title, .experience-subheader {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
  margin-left: 2rem;
}

.experience-title, .experience-category {
  font-size: 1.5rem;
  font-family: 'Poppins', 'sans-serif';
}

.experience-time, .experience-subtitle {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.experience-time {
  text-align: right;
  margin-top: 2.8rem;
  margin-right: 2rem;
}

.experience-subtitle, .experience-subheader {
  margin-top: 1.5rem;
}

.experience-subheader {
  color: #EEF4ED;
  font-size: 1.2rem;
}

.dropdown-toggle {
  color: #EEF4ED;
  font-size: 1.2rem;
  padding-top: 0.25rem;
}

.dropdown-toggle-icon {
  float: right;
  margin-left: 1rem;
  margin-top: 0.2rem;
}


.experience-toggle-list {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  margin-left: 2rem;
}

.education-toggle-list {
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
}

.experience-tech-container {
  margin-left: 2em;
  margin-top: 2em;
}

.experience-tech {
  text-align: right;
  margin-right: 2em;
}

.experience-tech-card {
  background-color: #EEF4ED;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  color: #134074;
  text-align: center;
  margin-right: 2.2rem;
  display: flex;
  align-items: center;
}

.experience-tech-icon {
  margin-right: 1rem;
}

.experience-tech-name {
  float: left;
}

.experience-details {
  margin-top: 1.5rem;
}

.experience-detail-name {
  margin: 0.7rem 2rem 0;
  color: #EEF4ED;
  font-family: 'Poppins', 'sans-serif';
  text-align: justify;
}

.skill-container {
  margin-left: 2rem;
  margin-top: 2rem;
}

.experience-bullet-list {
  margin-top: 1rem;
}

.project-title {
  text-decoration-line: underline;
}

.btn-scroll-top {
  background-color: #0B2545;
  color: #EEF4ED;
  font-weight: bold;
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.show {
  opacity: 100;
}

.hide {
  opacity: 0;
}